<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title>
        Enter Prescription Data
      </ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'home']" color="primary">
        <ion-icon slot="icon-only" name="grid"></ion-icon> <!--- Rxminders Logo HERE --->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Enter Prescription Name:</ion-label>
      <ion-input type="text" name="preName" [(ngModel)]="formData.preName" placeholder=" Prescription Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enter Reminder Time:</ion-label>
      <ion-input type="time" name="reminderTime" [(ngModel)]="formData.reminderTime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enter Quantity:</ion-label>
      <ion-input type="number" name="quantity" [(ngModel)]="formData.quantity" placeholder=" Quantity"></ion-input>
    </ion-item>
    <button class="submitButton" color="dark" type="submit">SUBMIT</button>
  </form>
</ion-content>