.submitButton{
    color:#8eddad;
    background-color: #222428;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    margin-right:5%;
    margin-left:5%;
    width:90%;
}