<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/','home']" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>
        Prescription Info
      </ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'home']" color="primary">
        <ion-icon slot="icon-only" name="grid"></ion-icon> <!--- Rxminders Logo HERE --->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ prescription.preName }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Rxminder Time:<pre> </pre><ion-datetime displayFormat="h:mm A" value= "{{ prescription.reminderTime }}" class="ion-no-margin ion-no-padding"></ion-datetime>
      </ion-item>
      <ion-item>
        Quantity Left: {{ prescription.quantity }}
      </ion-item>
      <ion-item>
        <a href="www.google.com">Info</a>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
