.editDelButtons{
    max-width:50% !important
}

.cancelButton{
    color:#222428;
    background-color: #f04141;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    margin-right:2.5%;
    margin-left:2.5%;
    width:45%;
}

.submitButton{
    color:#8eddad;
    background-color: #222428;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    margin-right:2.5%;
    margin-left:2.5%;
    width:45%;
}