<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title>
        Add Prescription
      </ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'home']" color="primary">
        <ion-icon slot="icon-only" name="grid"></ion-icon> <!--- Rxminders Logo HERE --->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="currentImage" *ngIf="currentImage" class="centerImg">

</ion-content>


<ion-footer style="background-color: #222428">
  <ion-grid>
    <ion-row no-padding no-margin>
      <ion-col col-6 no-padding>
        <ion-buttons>
          <ion-button color="light" style="margin:auto">
            <ion-icon name="create" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col col-6 no-padding>
        <ion-buttons>
          <ion-button color="light" (click)="takePicture()" style="margin:auto">
            <ion-icon name="camera" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <!---</ion-buttons>--->
    </ion-row>
  </ion-grid>
</ion-footer>