<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Image
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="home()" color="primary">
        <ion-icon slot="icon-only" src="assets/icon1.svg" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ^ header ^ -->

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-title>
        Image
      </ion-title>
    </ion-card-header>
    <img [src]="currentImage" *ngIf="currentImage" class="centerImg">
  </ion-card>

  <ion-card>
    <ion-card-header *ngIf="prescription">
      <ion-card-title>Prescription: {{ prescription }}</ion-card-title>
    </ion-card-header>
    <ion-card-header  *ngIf="!prescription">
      <ion-card-title>No Prescription</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-card-header *ngIf="notes">
        <ion-card-title>Notes: {{ notes }}</ion-card-title>
    </ion-card-header>
    <ion-card-header *ngIf="!notes">
      <ion-card-title>No Notes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <span style="margin-right: auto; margin-left: auto;">
    <button *ngIf="notes||prescription" (click)="confirm()" class="submitButton">
      Confirm
    </button>
  </span>
</ion-content>

<ion-footer style="background-color: #222428;">
  <ion-grid>
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-buttons>
          <ion-button class="inputButton" color="dark" (click)="takePicture()">
            <ion-icon color="primary" name="camera" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>