<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title>
        Take a Picture
      </ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'home']" color="primary">
        <ion-icon slot="icon-only" name="grid"></ion-icon> <!--- Rxminders Logo HERE --->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="currentImage" *ngIf="currentImage" class="centerImg">

</ion-content>


<ion-footer style="background-color: #222428;">
  <ion-grid>
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-buttons>
          <ion-button class="inputButton" color="dark" (click)="takePicture()">
            <ion-icon color="primary" name="camera" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>