<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="home()" color="primary">
        <ion-icon slot="icon-only" src="assets/icon1.svg" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ^ header ^ -->

<!-- v normal home page with prescriptions entered v -->
<ion-content>

  <ion-card class="welcome-card" *ngIf="!areRxmindersMade" color="dark">
    <ion-card-header>
      <ion-card-title>Welcome to Rxminders!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="areRxmindersMade">
    <img src=""/>
    <ion-card-header style="background-color: #222428;">
      <ion-row>
        <ion-col>
          <ion-card-title style="padding-top:10px; padding-left:10px; font-size: medium;" color="light">Upcoming Rxminder</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-chip style="float: right;" color="light"><span *ngIf="countActive==0">{{ nextRxminder }}</span><ion-datetime *ngIf="countActive!=0" style="pointer-events: none;" displayFormat="h:mm A" value= "{{ nextRxminder }}" class="ion-no-margin ion-no-padding"></ion-datetime></ion-chip>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="padding-top: 10px;" *ngIf="nextRxminder!='No Rxminder Set'">
      <span *ngFor="let prescription of prescriptions;"><span *ngIf="prescription.reminderTime == nextRxminder && prescription.status == 'active'">
        <ion-chip color="success" style="font-size: medium; max-width: 100%;" (click)="infoPage(prescription)">
        <ion-label color="dark">
          {{ prescription.preName }}
        </ion-label>
      </ion-chip></span></span>
    </ion-card-content>
  </ion-card>


  <ion-grid *ngIf="areRxmindersMade" lines="none">
    <ion-list-header>
      <ion-label color="dark">Current Prescriptions</ion-label>
    </ion-list-header>
    <ion-row>
      <ion-col>

        <ion-card *ngIf="countActive == 0"color="primary">
          <ion-card-header color="primary">
            <ion-row>
              <ion-col>
                <ion-chip color="primary" style="font-size: large; padding:20px; max-width: 100%;">
                  <ion-label color="dark" style="max-width: 100%;">
                    No Current Prescriptions
                  </ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>

        <span *ngFor="let prescription of prescriptions;">
          <ion-card *ngIf="prescription.status=='active'" (click)="infoPage(prescription)">
            <ion-card-header color="dark" *ngIf="prescription.status=='active'">
              <ion-row>
                <ion-col>
                  <ion-chip color="success" style="font-size: large; padding:20px; max-width: 100%;">
                    <ion-label color="light" style="max-width: 100%;">
                      {{ prescription.preName }}
                    </ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col>
                  <ion-chip color="light" style="float: right;">
                    <ion-label style="max-width: 100%;">
                      <ion-datetime style="pointer-events: none;" displayFormat="h:mm A" value= "{{ prescription.reminderTime }}" class="ion-no-margin ion-no-padding"></ion-datetime>
                    </ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </span>
      </ion-col>
    </ion-row>

    <ion-list-header>
      <ion-label color="dark">Past Prescriptions</ion-label>
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-card *ngIf="countArchived == 0"color="danger">
          <ion-card-header color="danger">
            <ion-row>
              <ion-col>
                <ion-chip color="danger" style="font-size: large; padding:20px; max-width: 100%;">
                  <ion-label color="light" style="max-width: 100%;">
                    No Past Prescriptions
                  </ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>

        <span *ngFor="let prescription of prescriptions;">
          <ion-card *ngIf="prescription.status == 'archived';" (click)="infoPage(prescription)">
            <ion-card-header color="dark">
              <ion-row>
                <ion-col>
                  <ion-chip color="danger" style="font-size: large; padding:20px; max-width: 100%;">
                    <ion-label color="light" style="max-width: 100%;">
                      {{ prescription.preName }}
                    </ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col>
                  <ion-chip color="light" style="float: right;">
                    <ion-label style="max-width: 100%;">
                      <ion-datetime style="pointer-events: none;" displayFormat="h:mm A" value= "{{ prescription.reminderTime }}" class="ion-no-margin ion-no-padding"></ion-datetime>
                    </ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--- v intro card v --->
  <ion-grid *ngIf="!areRxmindersMade">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Getting Started
            </ion-card-title>
            <ion-card-subtitle>
              Rxminders is a prescription management app that allows you to be reminded when you have a prescription and keep track of past medications.
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-button style="width: 100%; height: 100%;" color="dark" [routerLink]="['/', 'manual']">
                      <ion-icon color="primary" name="create" size="large"></ion-icon>
                    </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button style="width: 100%; height: 100%;" color="dark" [routerLink]="['/', 'camera']">
                    <ion-icon color="primary" name="camera" size="large"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="dark">
      <ion-icon slot="icon-only" src="assets/ellipsis.svg" color="primary"></ion-icon>
    </ion-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark">
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="chooseInputPage()">
        <ion-icon name="add" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>