.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

pre {
  font-family: Roboto, Helvetica, sans-serif;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-bottle"] {
    mask-image: url(../../assets/pill-bottle.svg);
  }

}
