<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title>
        Home
      </ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'home']" color="primary">
        <ion-icon slot="icon-only" name="grid"></ion-icon> <!--- Rxminders Logo HERE --->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>USER'S NAME HERE</ion-card-subtitle>
      <ion-card-title>Welcome to Rxminders</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ '{' }}time{{ '}' }} until next Prescription</p>
    </ion-card-content>
  </ion-card>
  <ion-grid lines="none">
    <ion-list-header>
      <ion-label>Current Prescriptions</ion-label>
    </ion-list-header>

    <!---<ion-button (click)="allPrescriptions()"></ion-button>
--->
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let prescription of prescriptions;">
          <ion-card-header>
            <ion-card-title>{{ prescription.preName }}</ion-card-title>
            <ion-card-subtitle>Time Taken Each Day: {{ prescription.reminderTime }}</ion-card-subtitle>
          </ion-card-header>
          <hr color="primary">
          <ion-card-content>
            <p>
              {{ prescription.quantity }} left
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---<ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Prescription Name</ion-card-title>
            <ion-card-subtitle>Time Taken Each Day</ion-card-subtitle>
          </ion-card-header>
          <hr color="primary">
          <ion-card-content>
            <p>
              #/# left
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>--->
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item [routerLink]="['/', 'choose-input']">
      <ion-icon slot="start" color="primary" name="add"></ion-icon>
      <ion-label>Add Prescription</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
